<div class="barraMia">
    <app-navbar-component></app-navbar-component>   
    <div>
        <form [formGroup]="clienteForm" (ngSubmit)="submitModif()">
            <h3>Información</h3>
            <div class="form-group">
                <label>Usuario</label>
                <input type="text" class="form-control" [(ngModel)]="eventUser.username" formControlName="user" readonly>
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" [(ngModel)]="eventUser.password" formControlName="pass" required>
                <div style="color: red; text-align: center;" *ngIf="controles.pass.errors?.pattern">
                    Contraseña debe no valida:<br>
                    - Longitud mayor a 4.<br>
                    - Al menos un número.<br>
                    - Al menos una mayúscula.<br>
                    - Al menos una minuscula.<br>
                </div>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" [(ngModel)]="eventUser.name" formControlName="name" required>
            </div>
        
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" [(ngModel)]="eventUser.surname" formControlName="surname" required>
            </div>

            <div class="form-group">
                <label>Correo electrónico</label>
                <input type="text" class="form-control" [(ngModel)]="eventUser.mail" formControlName="mail" required>
                <div style="color: red; text-align: center;" *ngIf="controles.mail.errors">
                    Correo electrónico no válido.
                </div>
            </div>

            <div class="form-group">
                <label>Operador</label>
                <input type="text" class="form-control" [(ngModel)]="eventUser.operador" formControlName="operador">
            </div>

            <div class="form-group">
                <label>Papel</label>
                <input type="text" class="form-control" [(ngModel)]="eventUser.rol" formControlName="rol" required>
                <div style="color: red; text-align: center;" *ngIf="controles.rol.errors?.pattern">
                    Debe seleccionar un Papel
                </div>
            </div>
        
            <div *ngIf="errorMessage != ''">
                <div class="alert alert-danger">{{errorMessage}}</div>
            </div>
        
            <button type="submit" class="btn btn-primary">Modificar datos</button>
        </form>
    </div> 
</div>
<app-side-navbar></app-side-navbar>