<div class="page-container">
    <div class="sidebar">
        <div>
            <div>
                <h1>Logo</h1>
            </div>
            <div>
                {{userService.userLog.name}} {{userService.userLog.surname}} 
            </div>
            Menu
            <div class="list-items">
                <a [routerLink]="['/clientAccount']" class="list-item">
                    <i class="material-icons">face</i>
                    Cuentas de clientes
                </a>
                <a [routerLink]="['/accessMedia']" class="list-item">
                    <i class="material-icons">bookmarks</i>
                    Acceder a los medios
                </a>
            </div>
        </div>
    </div>
</div>