<div class="page-container">
    <div class="sidebar">
        <div>
            <div class="logo-container1">
                <!--Fuente Logo.-->
                <!--https://en.wikipedia.org/wiki/File:Circle-icons-tools.svg-->
                <a [routerLink]="['/home']"><img class="logoApp" src="assets/images/480px-Circle-icons-tools.png"></a>
                <h2 id="title1">Portal P1</h2>
            </div>
            <div class="logo-container2">
                <img class="logo" src="assets/images/pngaaa.com-3797644.png">
                <div class="userLogCss">{{userService.userLog.name}} {{userService.userLog.surname}} </div>
            </div>
            <div class="menu">
                Menu
            </div>
            <div class="list-items">
                <a [routerLink]="['/clientAccount']" class="list-item">
                    <i class="material-icons">face</i>
                    Cuentas de clientes
                </a>
                <a [routerLink]="['/accessMedia']" class="list-item">
                    <i class="material-icons">bookmarks</i>
                    Acceder a los medios
                </a>
            </div>
        </div>
    </div>
</div>