<div class="page-container">
    <div class="sidebar">
        <div>
            hola
            <div class="list-items">
                <div class="list-item">This is a item1</div>
                <div class="list-item">This is a item2</div>
                <div class="list-item">
                    This is a item3
                </div>
                <a [routerLink]="['/clientAccount']" class="list-item">
                    <i class="material-icons">face</i>
                    Cuentas de clientes
                </a>
                <a [routerLink]="['/accessMedia']" class="list-item">
                    <i class="material-icons">bookmarks</i>
                    Acceder a los medios
                </a>
            </div>
        </div>
    </div>
</div>